.comment-list {
    list-style: none;
    padding: 0;
    margin: 20px;
  }
  
  .comment {
    margin-bottom: 20px;
  }
  
  .comment-box {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  .comment-box:hover{
    transition: 1s;
    color: black;
    background-color: white;
  }

  .comment-box:active{
    transition: 0.5s;
    color: white;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .comment-box span {
    display: block;
    margin-bottom: 10px;
  }
  
  .comment-box p {
    margin-bottom: 0;
  }
